In [ ]:
!pip install -r requirements.txt

In [ ]:
%%writefile .env
GOOGLE_API_KEY = "paste your google api key"

In [ ]:
import sqlite3
connection = sqlite3.connect('student.db')
#creating a cursor object for crud operations
cursor = connection.cursor()

#create the table

table_info ="""

Create table STUDENT(NAME VARCHAR(25),CLASS VARCHAR(25),
SECTION VARCHAR(25),MARKS INT);

"""
cursor.execute(table_info)

## insert some more records
cursor.execute('''Insert into STUDENT values('Krish','Data Science','A',90)''')
cursor.execute('''Insert into STUDENT values('Sudha','Data Science','B',100)''')
cursor.execute('''Insert into STUDENT values('daru','Data Science','A',86)''')
cursor.execute('''Insert into STUDENT values('Vikas','DEVOPS','A',50)''')
cursor.execute('''Insert into STUDENT values('Dipesh','DEVOPS','A',35)''')

#Display all the records
print("the inserted records are")

data = cursor.execute('''select * from STUDENT''')
for row in data:
  print(row)

##Close the connection

connection.commit()
connection.close()

the inserted records are
('Krish', 'Data Science', 'A', 90)
('Sudha', 'Data Science', 'B', 100)
('daru', 'Data Science', 'A', 86)
('Vikas', 'DEVOPS', 'A', 50)
('Dipesh', 'DEVOPS', 'A', 35)

In [ ]:
from dotenv import load_dotenv
load_dotenv()

import streamlit as st
import os
import sqlite3

import google.generativeai as genai

genai.configure(api_key=os.getenv("GOOGLE_API_KEY"))

##func to load gemini model and get sql query as response
def get_gemini_response(question,prompt):
  model = genai.GenerativeModel('gemini-pro')
  response = model.generate_content([prompt,question])
  return response.text

#Function to retrieve query from sql databse
def read_sql_query(sql,db):
  conn = sqlite3.connect(db)
  cur = conn.cursor()
  cur.execute(sql)
  rows = cur.fetchall()
  conn.commit()
  conn.close()
  for row in rows:
    print(row)
  return rows

prompt=[
    """
    You are an expert in converting English questions to SQL query!
    The SQL database has the name STUDENT and has the following columns - NAME, CLASS,
    SECTION \n\nFor example,\nExample 1 - How many entries of records are present?,
    the SQL command will be something like this SELECT COUNT(*) FROM STUDENT ;
    \nExample 2 - Tell me all the students studying in Data Science class?,
    the SQL command will be something like this SELECT * FROM STUDENT
    where CLASS="Data Science";
    also the sql code should not have ''' in beginning or end and sql word in the output
    """
    ]

  ## streamlit app

st.set_page_config(page_title="I can retrieve any sql query")
st.header("Gemini App to retrieve sQL data")

question = st.text_input("Input: ",key = "input")

submit = st.button("Ask the question")

  ## if submit is clicked
if submit:
  response = get_gemini_response(question,prompt)
  print(response)
  data = read_sql_query(response,"student.db")
  st.subheader("The response is")
  for row in data:
    print(row)
    st.header(row)

In [ ]:
!npm install -g localtunnel

In [ ]:
!curl ipv4.icanhazip.com

In [ ]:
!streamlit run /content/llmsql.py &> ./logs.txt & npx localtunnel --port 8501